numpy
matplotlib
pandas
gym
PettingZoo
SuperSuit
torch
setuptools
kubernetes==23.6.0
wheel
requests~=2.28.0
statsmodels
scikit-learn
keras
joblib
stable_baselines3
tensorflow-cpu
sb3_contrib
shimmy>=0.2.1
prometheus_api_client